#container {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
#chat {
   width: 75%;
}
#log {
   background : white;
   height: 50vh;
   border: 1px solid black;
   overflow: auto;
}
#to {
   width: 100%;
}
#text {
   height: 15vh;
   width: 100%;
   overflow: auto;
}
